header {
    display: flex;
    justify-content: space-between;
    /*width: 100%;*/
    align-items: center;
    background-color: #333;
    padding: 20px;
    margin: 0px;
}

.companylogo img {
    width: 100px;
}

.companyname {
    color: white;
}

nav {
    display: flex;
    justify-content: space-around;
    /*width: 100%;*/
    background-color: #333;
    padding: 10px 20px;
}

nav a {
    color: white;
}
/*CSS for homepage*/
.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

.shop-now button {
    background-color: #4CAF50;
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin: 20px;
}

.customer-reviews {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
}

footer {
    background-color: #333;
    padding: 10px;
    margin: 0px;
    text-align: center;
    color: white;
}

/*CSS for login page*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.login label {
    display: block;
    margin: 10px;
}

.login input {
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.login button {
    background-color: #4CAF50;
    border: 0;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    opacity: 0.5;
}

.login button:hover {
    background-color: #45A049;
    opacity: 1.0;
}

.sign-up a {
    color: #007BFF;
    text-decoration: none;
    margin: 10px;
}

.sign-up a:hover {
    text-decoration: underline;
}
